version: '3.9'

services:
  database:
    container_name: database
    image: postgres:12
    environment:
      POSTGRES_USER: default
      POSTGRES_PASSWORD: default
      POSTGRES_DB: default
    hostname: database
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U default"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - /pgdata

  backend:
    depends_on:
      database:
        condition: service_healthy
    container_name: spar-api
    image: spar-api:latest
    environment:
      NODE_ENV: development
      POSTGRESQL_HOST: database
      POSTGRESQL_USER: default
      POSTGRESQL_PASSWORD: default
      POSTGRESQL_DATABASE: default
    hostname: spar-api
    links:
      - database
    ports:
      - "8090:8090"
    build:
      context: .
      dockerfile: Dockerfile
