<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOGS" value="/logs" />
  <springProperty scope="context" name="serviceEnv" source="nr-spar-backend-version" />
  <springProperty scope="context" name="applicationName" source="spring.application.name" />
  <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
    <!-- https://logback.qos.ch/manual/layouts.html -->
    <!-- %d = 2006-10-20 14:06:49,812 or we can use like %date{HH:mm:ss.SSS}, or %d{ISO8601} -->
    <!-- %p = level -->
    <!-- %C{length} = fully qualified class name of the caller -->
    <!-- %t = thread name -->
    <!-- %m = message -->
    <!-- %n = new line -->
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %date{HH:mm:ss.SSS} %highlight(%-5level) [%blue(%t)] %yellow(%C): %msg%n%throwable
      </Pattern>
    </layout>
  </appender>
  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOGS}/postgres-api.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>{"labels.project":"${applicationName}","labels.target_project":"spar","service.environment":"${serviceEnv}","@time_stamp":"%date{yyyy-MM-dd HH:mm:ss.SSS}","level":"%p","thread":"%t","class":"%logger{36}","message":"%m"}%n</Pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily and when the file reaches 10 MegaBytes -->
      <fileNamePattern>${LOGS}/archived/postgres-api-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  <!-- LOG everything at INFO level -->
  <root level="info">
    <appender-ref ref="RollingFile" />
    <appender-ref ref="Console" />
  </root>
  <!-- LOG "ca.bc.gov.backendstartapi*" at TRACE level -->
  <logger name="ca.bc.gov.backendstartapi" level="trace" additivity="false">
    <appender-ref ref="RollingFile" />
    <appender-ref ref="Console" />
  </logger>
</configuration>
